<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fumbler.royalerumble.dao.CommentDao">
    <select id="getCountComment" resultType="int">
        SELECT COUNT(*) AS TOTAL FROM COMMENTS
        WHERE FORUM_ID = #{forumId} AND COMMENT_REF = 0

    </select>

    <select id="getCountReply" resultType="int">
        SELECT COUNT(*) AS TOTAL FROM COMMENTS
        WHERE COMMENT_REF = #{commentRef}
    </select>
    <select id="selectOne" resultType="Comment">
      SELECT * FROM COMMENTS WHERE id = #{id}
    </select>

    <select id="selectList" parameterType="Pagination" resultType="Comment">
        SELECT
        ID,
        FORUM_ID,
        USER_NAME,
        CONTENT,
        COMMENT_REF,
        COMMENT_LEVEL,
        COMMENT_CNT,
        REG_DATE
        FROM (SELECT
        <choose>
            <when test="sort == 'like'">
                ROW_NUMBER()
                OVER (ORDER BY LIKE_CNT DESC, HATE_CNT ASC, ID DESC ) AS SEQ,
            </when>
            <when test="sort == 'hate'">
                ROW_NUMBER()
                OVER (ORDER BY HATE_CNT DESC, LIKE_CNT ASC, ID DESC ) AS SEQ,
            </when>
            <otherwise>
                ROW_NUMBER()
                OVER(ORDER BY ID DESC) AS SEQ,
            </otherwise>
        </choose>
        ID,
        FORUM_ID,
        USER_NAME,
        CONTENT,
        COMMENT_REF,
        COMMENT_LEVEL,
        COMMENT_CNT,
        REG_DATE
        FROM COMMENTS
        WHERE FORUM_ID = #{forumId} AND COMMENT_REF = 0
        ) WHERE SEQ BETWEEN #{start} AND #{end}
    </select>

    <insert id="insert" parameterType="Comment">
        INSERT INTO COMMENTS
        (ID, FORUM_ID, USER_NAME, CONTENT, COMMENT_REF, COMMENT_LEVEL, COMMENT_CNT, LIKE_CNT,
         HATE_CNT, REG_DATE)
        VALUES (COMMENTS_SEQ.NEXTVAL, #{forumId}, #{userName}, #{content}, #{commentRef}, #{commentLevel}, 0, 0,
         0, SYSDATE)
    </insert>
</mapper>