._chest {
    margin: auto;
}

._chest div {
    display: table;
    width: 100px;
    height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: left;
}

._chest div p {
    font-family: Supercell-magic;
    font-size: 20px;
    color: #fff;
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    margin-bottom: 5px;
    text-shadow : 
	    -1px -1px 0 #000,
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	    1px 1px 0 #000;  
}

div._silver {
    width: 90px;
    height: 90px;
    margin: 5px auto;
    background-image: url("/royalerumble/resources/img/chests/chest-silver.png");
}

div._gold {
    width: 90px;
    height: 90px;
    margin: 5px auto;
    background-image: url("/royalerumble/resources/img/chests/chest-gold.png");
}

div._superMagical {
    /*background-image: url("https://royaleapi.com/static/img/chests/chest-supermagical.png");*/
    background-image: url("/royalerumble/resources/img/chests/chest-supermagical.png");
}

div._magical {
    background-image: url("/royalerumble/resources/img/chests/chest-magical.png");
}

div._legendary {
    background-image: url("/royalerumble/resources/img/chests/chest-legendary.png");
}

div._epic {
    background-image: url("/royalerumble/resources/img/chests/chest-epic.png");
}

div._giant {
    background-image: url("/royalerumble/resources/img/chests/chest-giant.png");
}
